.screen {
    width: 100vw;
    height: 100vh;
    ;

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .nav-bar {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 1em;
            color: var(--apyreBlue, #0072BC);
            background-color: var(--menu-bcg, #DEECFA);
            font-family: Oswald;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            .left-nav {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1em;

                .image-container {
                    width: 3.125em;
                    height: 3.130em;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }

            .right-nav {
                display: flex;
                justify-content: center;
                align-items: center;

                .profile-icon {
                    margin: 0.3em;
                }

                .profile-name {
                    color: var(--apyreBlue, #0072BC);
                    font-family: Oswald;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                .select-form {
                    display: flex;
                    flex: 1;
                    width: fit-content;

                    select {
                        display: inline-block;
                        width: 100%;
                        background-color: transparent;
                        border: none;
                        color: #0072BC;
                        transform: scale(150%);
                    }
                }


            }
        }

        .main {
            display: flex;
            justify-content: center;
            align-items: center;

            .main-content {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .header {

                    .first-text {
                        .inquiry-header {}

                        .date {}
                    }

                    .second-text {}
                }

                .form-footer {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;

                    button {
                        display: inline-flex;
                        padding: 11px 18px 8px 18px;
                        align-items: flex-start;
                        gap: 7px;
                        border-radius: 6px;
                        background: var(--primaryColor, #A24399);
                        color: var(--Lara-Button-buttonTextColor, #FFF);
                        font-family: Raleway;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 17px;
                        /* 106.25% */
                    }
                }

            }

        }
    }
}