<div class="screen">
    <div class="container">
        <div class="header">
            <div class="img-container">
                <img src="../../assets/apyreLogoFull.png" alt="logo">
            </div>
            <div class="inquiry">
                Inquiry #I000000128
            </div>
            <div class="header-text">
                Fill out the form below for quick processing by our Apyre cremation specialist. It takes about 15
                minutes to complete. After submission, call <app-phone-link [link]="'855-812-7973'"></app-phone-link> to
                verify, make payment, and finalize
                arrangements.
            </div>
        </div>
        <p-steps [model]="items" [(activeIndex)]="activeIndex"></p-steps>
        <div>Active INdex: {{activeIndex}}</div>
        <ng-container *ngIf="activeIndex === 0">
            <app-form-builder [formData]="testData" (formDataSubmitted)="handleFormData($event)"></app-form-builder>
            <app-form-builder [formData]="testData2" (formDataSubmitted)="handleFormData($event)"></app-form-builder>
            <app-form-builder [formData]="testData3" (formDataSubmitted)="handleFormData($event)"></app-form-builder>
        </ng-container>
        <ng-container *ngIf="activeIndex === 1">
            <app-form-builder [formData]="testData3" (formDataSubmitted)="handleFormData($event)"></app-form-builder>
        </ng-container>
        <ng-container *ngIf="activeIndex === 2">
            <app-form-builder [formData]="testData" (formDataSubmitted)="handleFormData($event)"></app-form-builder>
        </ng-container>
        <ng-container *ngIf="activeIndex === 3">
            <app-form-builder [formData]="testData" (formDataSubmitted)="handleFormData($event)"></app-form-builder>
        </ng-container>
        <ng-container *ngIf="activeIndex === 4">
            <app-form-builder [formData]="testData" (formDataSubmitted)="handleFormData($event)"></app-form-builder>
        </ng-container>
        <ng-container *ngIf="activeIndex === 5">
            <app-form-builder [formData]="testData" (formDataSubmitted)="handleFormData($event)"></app-form-builder>
        </ng-container>
        <ng-container *ngIf="activeIndex === 6">
            <app-form-builder [formData]="testData" (formDataSubmitted)="handleFormData($event)"></app-form-builder>
        </ng-container>

        <button *ngIf="activeIndex < 5" type=" submit" class="link-button" form="emailForm" (click)="nextPage()">
            <div class="button-contents">
                <i class="pi pi-link"></i>
                <div>Next</div>
            </div>
        </button>
        <button *ngIf="activeIndex > 0" type=" submit" class="link-button" form="emailForm" (click)="prevPage()">
            <div class="button-contents">
                <i class="pi pi-link"></i>
                <div>Back</div>
            </div>
        </button>
        <button *ngIf="activeIndex === 5" type=" submit" class="link-button complete" form="emailForm"
            (click)="reviewForm()">
            <div class="button-contents">
                <i class="pi pi-link"></i>
                <div>Review Form</div>
            </div>
        </button>
        <button *ngIf="activeIndex === 6" type=" submit" class="link-button complete" form="emailForm"
            (click)="complete()">
            <div class="button-contents">
                <i class="pi pi-link"></i>
                <div>Complete</div>
            </div>
        </button>
    </div>
</div>