.screen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #deecfa;
    display: flex;
    justify-content: center;

    .container {
        width: 70%;
        height: 100%;
        background-color: #FFF;
        display: flex;
        flex-direction: column;


        .header {
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding: 2em;
            justify-content: center;
            align-items: center;

            .img-container {
                width: 115px;
                height: 118px;

                img {
                    object-fit: contain;
                    width: 100%;
                }
            }

            .inquiry {
                color: var(--primaryColor, #A24399);
                text-align: center;
                font-family: Oswald;
                font-size: 26px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .header-text {
                color: var(--surface-900, #231F20);
                text-align: center;
                font-family: Raleway;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}

.link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    border: none;
    border-radius: 6px;
    padding: 9px 18px;
    background-color: var(--primaryColor, #A24399);
    color: var(--Lara-Button-buttonTextColor, #FFF);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.05em;
    /* 106.25% */
    white-space: nowrap;

    &.complete {
        background-color: green;
    }

    .button-contents {
        display: flex;
        padding: 0 1em;

        i {
            padding-right: 7px;
        }
    }
}