.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--s200, #F9F7FA);
    color: var(--primaryColor, #A24399);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0.2em 1em;

}


.toggle-container {
    background-color: transparent;
    width: fit-content;
    margin: 1em;
    display: flex;


    .select-button-2 {
        border-radius: 0px 5px 5px 0px;
        border: 1px solid var(--Lara-Surface-surface-600, #757575);
        display: flex;
        padding: 10.5px 17.5px;
        justify-content: center;
        align-items: center;
        gap: 7px;
        background-color: transparent;
        color: var(--Lara-Surface-surface-500, #9E9E9E);
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 17px;



        /* 113.333% */
        &.pressed {
            color: #fff;
            background-color: var(--Lara-Surface-surface-700, #616161);
        }
    }

    .select-button-1 {
        border-radius: 5px 0px 0px 5px;
        border: 1px solid var(--Lara-Surface-surface-600, #757575);
        display: flex;
        padding: 10.5px 17.5px;
        justify-content: center;
        align-items: center;
        gap: 7px;
        background-color: transparent;
        color: var(--Lara-Surface-surface-500, #9E9E9E);
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 17px;



        /* 113.333% */
        &.pressed {
            color: #fff;
            background-color: var(--Lara-Surface-surface-700, #616161);
        }
    }
}

.form-container {
    width: 100%;
    background-color: #fff;

    .grid {
        margin: 0;

        .form-element {
            height: 36px;
            border-radius: 4px;
            border: 1px solid var(--Lara-Surface-surface-600, #757575);
            background: var(--Lara-Root-surface-ground, #EFF3F8);





            input,
            select {
                height: 100%;
                width: 100%;
                border: none;
                background-color: transparent;
                padding: 0.5em;
                align-self: center;

                &.checkbox {
                    background-color: red;
                    border: 2px solid red;
                }

                &::placeholder {
                    color: var(--Lara-Surface-surface-600, #757575);
                    font-family: Raleway;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

        }


    }

}


.submit-button {
    padding: 2rem;
}